%h1 About Me


Just here to learn

%br/
%br/
= image_tag "no_idea.jpg", :class => "img"
%br/
%br/

= link_to "Home Page", root_path, class: "btn btn-primary"
= link_to "Mini Goals", minigoals_path, class: "btn btn-default"
  
