%h1 About Me

%br/

Just here to learn

%br/
= image_tag "no_idea.jpg", :class => "img-responsive"
%p

= link_to "Home Page", root_path, class: "btn btn-primary"
= link_to "Mini Goals", minigoals_path, class: "btn btn-default"
