<!-- provide to set different titles -->
<!-- executes code inside -->
<!-- associate "Home" with the label :title-->

<% provide(:title, "Bryant's Vision Board") %>
<h1>Goals</h1>
    	<p>I started The Odin Project in December. I want to become a web developer in 2-6 months :)</p>
        
        <h2><%= link_to "Mini Goals", 'minigoals' %></h2>
        
        <div id="fencing">
          
<%= link_to image_tag("fencing.jpg", alt: "Gryphon Fencing" ),
            'http://rubyonrails.org/' %>
        </div>
        